[core]
  editor = nvim
  excludesfile = ~/.gitignore_global

[user]
  name = Ayo Isaiah
  email = ayisaiah@gmail.com

[alias]
  s = status
  ch = checkout
  ci = commit
  cm = commit -m
  a = add
  aa = add -A
  amend = commit --amend
  br = branch
  brd = branch -d
	brD = branch -D
  po = push origin
  pom = push origin master
