[core]
  editor = nvim
  excludesfile = ~/.gitignore_global

[user]
  name = Ayooluwa Isaiah
  email = ayisaiah@gmail.com
  signingkey = 1815F1956543A746
[alias]
  s = status
  ch = checkout
  cb = checkout -b
  ci = commit
  cm = commit -m
  a = add
  aa = add -A
  amend = commit --amend
  br = branch
  brd = branch -d
	brD = branch -D
  po = push origin
  pom = push origin master
  unstage = reset HEAD
[commit]
	gpgsign = true
[init]
	templatedir = ~/.git-templates
